# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [3]:
shoha = 6
print(shoha)
x=10
number = 11
print(x)
print(number

type(shoha)
      
# hello

6
10
11

int

##### Assinging float

4

#### Performing Calculations on ints and floats

##### Addition

In [6]:
num1 = 2
num2 = 4.5

res = num1 + num1
print(res)
res2 = 1 + 2
print(res2)

# short hand
# res =  res + 2
res += 2
res += 2
print(res)

4
3
8

##### Subtraction

In [11]:
dif = num2 - num1
print(dif)

# shorthand
something_new = dif - .5
print(something_new, 'something new')


print(dif, 'notice that dif never changes')


dif -= .5
print(dif)

2.5
2.0 something new
2.5 notice that dif never changes
2.0

##### Multiplication

In [16]:
prod = 3*3.1
print(prod)

# shorthand
# prod = prod * 10

prod*=10
print(prod)

9.3
93.0

##### Division

In [20]:
quo = 9 / 3
print(quo)

# shorthand
# quo = quo / 10

quo /= 10
print(quo)

3.0
0.3

##### Floor Division

In [27]:
floor = 9.2//3
print(floor)

# even if they dont fit perfectly with each other, it will always round down

# shorthand
floor//=2
print(floor)

3.0
1.0

##### Modulo

In [34]:
mod = 11 % 3
print(mod)


# shorthand
# mod = mod % num
mod %= 2
print(mod)

2
0

##### Exponential

In [39]:
square = 5 ** 2
print(square)

# shorthand
square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [40]:
name = "Shoha"
print(name)
print(type(name))

Shoha
<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [46]:
print(name, 'Hi', 12133)
print('Brandt')

# a literal is the actual string itself. Name2 is variable name, 'Brandt' is the literal.

Shoha#####Hi#####12133

Brandt

##### String Concatenation

In [50]:
first = "Shoha"
last = "Tsuchida"

full = first + ' ' + last
print(full)

# immutable
print(first)
print(last)

Shoha Tsuchida
Shoha
Tsuchida

##### Type Conversion

In [55]:
num = '32'
print(num)
print(type(num))

num + str(1)

32
<class 'str'>

'321'

##### input()

In [65]:
# input will always return a string.
name = input('What is your name?')

age = input('What is your age?')
print('You will be ', int(age) + 1, ' on your birthday!')

What is your name?shoha
What is your age?9000
You will be  9001  on your birthday!

##### format()

In [70]:
# f-string
sentence= f'My name is {name} and I am {age} years old'
print(sentence)

My name is shoha and I am 9000 years old

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [72]:
Color = input('What is the color of your vehicle?')

Year = input('What year was your vehicle made in?')

Make = input('What is the make of your vehicle?')

Model = input('What is the model of your vehicle?')

carsentence = f'The vehicle is {Color}, made in {Year}, the make is {Make}, and the model is {Model} !'
print(carsentence)

What is the color of your vehicle?Blue
What year was your vehicle made in?1999
What is the make of your vehicle?make
What is the model of your vehicle?new car
The vehicle is Blue, made in 1999, the make is make, and the model is new car !

### If Statements

In [77]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 8
num2 = 6

if num1 > num2:
    print('num1 is bigger')
elif num1 < num2:
    print('num1 is smaller')
else:
    print('num1 is equal to NUM2')

NUM1 is bigger

##### 'is' keyword

In [83]:
# use the "IS" keyboard when checking for same/similar objects, not same value
num3 = 55

# is looks for referencial equality


if num3 == 55:
    print('they are the exact same thing')
    
    
shoha = [5,5,5]
brandt = [5,5,5]

shoha is brandt

they are the exact same thing

False

##### 'in' keyword

In [84]:
char = ' Harry Potter'

if 'Har r' in char:
    print('found "o"')

##### 'not in' keyword'

In [91]:
if 'A' not in char:
    print('no "a"')

no "a"

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [104]:
question12 = input()

P = "P"

if P in question12.upper():
    print ("There is the letter P in your input.")
else:
    print("There is no letter P in your input.")

spsdpf
There is the letter P in your input.

## Using 'and'/'or' with If Statements

In [108]:
name = 'Shohae'

if 's' in name or 'S' in name:
    print('FOUND IT')

FOUND IT

### Elif Statements

In [ ]:
# see above

### Else Statements

In [ ]:
# see above

### For Loops

In [124]:
# SYNTAX
# for VARIABLE in ITERABLE:
name = 'aaaaaaaataaa'
print(len(name))

# LOOPING THROGUH EACH ITEM
for letter in name:
    print(letter)
    if letter == 't':
        print(f"FOUND T!")
        
# LOOPING THROUGH EVERY INDEX, THEN USING THE INDEX TO FIND ITEM    
for index in range(len(name)):
    print(index, name[index])
    
    if name[index] == 't':
        print(f'Found t at index {index}')
#      bracket notation to get corresponding item in that index

12
a
a
a
a
a
a
a
a
t
FOUND T!
a
a
a
0 a
1 a
2 a
3 a
4 a
5 a
6 a
7 a
8 t
Found t at index 8
9 a
10 a
11 a

##### Using 'in' keyword

In [128]:
# see above

't'

##### Continue Statement

In [ ]:
# will continue to next iteration

In [134]:
for num in range(10):
    if num == 5:
        continue
    print(num)
   

print('done')

0
1
2
3
4
6
7
8
9
done

##### Break Statement

In [ ]:
# will break out of current loop

In [133]:
for num in range(10):
    if num == 5:
        break
    print(num)
    
    
print('done')

0
1
2
3
4
done

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [136]:
for num in range(10):
    if num == 5:
        pass
    print(num)
    
print('done')

0
1
2
3
4
5
6
7
8
9
done

##### Double For Loops

In [137]:
for i in range(3):
    for j in range(2):
        print(f'i is {i}, j is {j}')

i is 0, j is 0
i is 0, j is 1
i is 1, j is 0
i is 1, j is 1
i is 2, j is 0
i is 2, j is 1

### While Loops

In [139]:
# SYNTAX
# while CONDITION:
num = 0
while num < 10:
    print(num)
    num += 1
print('done')

0
1
2
3
4
5
6
7
8
9
done

##### Looping 'While True'

In [141]:
while True:
    num = input('Guess a number between 1 and 100')
    print(f'Your guess is {num}')
    if num == '3':
        print('CORRECT! YOU WIN')
        break
    print('incorrect. please try again')

Guess a number between 1 and 1003
Your guess is 3
CORRECT! YOU WIN

##### While & For Loops Used Together

In [142]:
num = 0
while num < 5:
    print(f'While Loop Iteration: {num}')
    
    for i in range(2):
        print(f'For Loop Iteration: {i}')
        
    num += 1

While Loop Iteration: 0
For Loop Iteration: 0
For Loop Iteration: 1
While Loop Iteration: 1
For Loop Iteration: 0
For Loop Iteration: 1
While Loop Iteration: 2
For Loop Iteration: 0
For Loop Iteration: 1
While Loop Iteration: 3
For Loop Iteration: 0
For Loop Iteration: 1
While Loop Iteration: 4
For Loop Iteration: 0
For Loop Iteration: 1

### Built-In Functions

##### range()

In [144]:
# start, stop, step
for i in range(3,10, 3):
    print(i)

3
6
9

##### len()

In [145]:
# checks the Length of a variable
name = 'Aubrey'
len(name)

6

##### help()

In [147]:
help(isinstance)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

##### isinstance()

In [148]:
if isinstance(name, str)

True

##### abs()

In [ ]:
# / -5 / => 5
abs(-5)

### Try and Except

In [ ]:
while True:
    try:
        age = int(input('Guess a number'))
        if guess == 5:
            print('You got it!')
            break
    except:
        print('Invalid entry. Please try again')

In [ ]:
while True:
    
    guess = input('Guess a number?')
    if guess.isdigit():
        guess = int(guess)
    else:
        print('invalid entry. Please try again')
        continue
    if guess == 5:
        print('You got it!')
        break

##### Declaring Lists

In [ ]:
names = ['shoha', 'BrAnDt', 112, [1,2,3,4,5]]
print(names)
print(type(names))


names[0] = "uri"
print(names)

##### Indexing a List

In [ ]:
x = 'shoha'
print(x)
x = 'sh' + 'e' + 'ha'
print(x)

x = names[1][2].lower()

##### .append()

In [ ]:
numbers = [5,7,9]
print(numbers)
numbers.append(11)
print(numbers)

# in place
# out of place

##### .insert()

In [ ]:
numbers.insert(2, 9001)
print(numbers)

##### .pop()

In [ ]:
# default to last item
removed = numbers.pop()
print(numbers)
print(removed)


##### .remove()

In [1]:
names = ['max', 'evan', 'max', 'john']
names.remove('max')
print(names)

['evan', 'max', 'john']

##### del()

In [ ]:
del(names[2])
print(names)

##### Concatenating Two Lists

In [2]:
l1 = [1,2,3]
l2 = [5,7,9]
big = 11 + 12
print(big)
print(l1)
print(l2)

23
[1, 2, 3]
[5, 7, 9]

##### Lists Within Lists

In [ ]:
# see above

##### Looping Through Lists

In [ ]:
# same as strings
names = ['shoha', 'brandt', 'nicole', 'aubrey', 'Brian']

for name in names:
#     print(name)
    if name[0].upper() == "B":
        print('B name found', name)
    else:
        pass
    
for index in range(len(names)):
#     print(index)
    if names[index][0].lower() == 'b':
        print(f'b name found at index {index}', names[index])

        
print(names)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [16]:
num = 1
    
while num**num < 1000:
    print(num**num)
    num += 1
print('Done!')

1
4
27
256
Done!

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [30]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

num = 2

while num <= 100:
    is_prime = True
    
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num)
    
    num += 1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [24]:
Ageq = input("What is your age?")

if Ageq < '18':
    print("kids")
elif Ageq >= '18' and Ageq <= '65':
    print("adults")
elif Ageq > '65' :
    print("seniors")
else:
    print("Error")

What is your age?66
seniors